@font-face {
   font-family: 'EB Garamond';
   src:
      url(./ebgaramondmedium.woff2) format('Woff2'),
      url(./ebgaramondmedium.woff) format('Woff'),
      url(./ebgaramondmedium.ttf) format('TrueType');
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'EB Garamond';
   src:
      url(./ebgaramondregular.woff2) format('Woff2'),
      url(./ebgaramondregular.woff) format('Woff'),
      url(./ebgaramondregular.ttf) format('TrueType');
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Inter';
   src:
      url(./interregular.woff2) format('Woff2'),
      url(./interregular.woff) format('Woff'),
      url(./interregular.ttf) format('TrueType');
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Inter';
   src:
      url(./interbold.woff2) format('Woff2'),
      url(./interbold.woff) format('Woff'),
      url(./interbold.ttf) format('TrueType');
   font-weight: 700;
   font-display: swap;
}